html, body {
	min-height: 100%;
}

body {
	font-family: 'Lato', arial, sans-serif;
	background: linear-gradient(#1c1c1c 25%, #2f2f2f 5%, #2f2f2f 100%);
	color: white;
}

a {
	color: #0090ff;
}

a:hover {
	color: #007ad8;
	text-decoration: none;
}

h1.page-title {
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

header {
	position: relative;
	background-color: #006c03;
	border-bottom: solid #008304 1px;
	box-shadow: 0px 0px 15px 3px rgba(0,0,0,.5);
	text-align: center;
	font-weight: 900;
	font-size: 36px;
	padding: 25px 0px;
	width: 100%;
	text-transform: uppercase;
	z-index: 20;
}

.mb-lg {
	margin-bottom: 25px;
}

.mr-md {
	margin-right: 10px;
}

.mt-md {
	margin-top: 10px;
}

.mt-lg {
	margin-top: 25px;
}


.main-container {
	background-color: #212121;
	border: solid #363636 1px;
	border-top: 0px;
	padding: 20px;
	z-index: 10;
	box-shadow: 0px 0px 25px 3px rgba(0,0,0,.2);
	min-height: 400px;
}

.logged-out-form {
	position: relative;
	width: 40%;
	margin: auto;
	font-size: 18px;
}

.logged-out-form h1 {
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

.form-control {
	border-radius: 0px;
	box-shadow: 0px 0px 15px 3px rgba(255,255,255,.2);
	font-size: 18px;
}

.btn {
	border-radius: 0px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
}

.btn-lg {
	font-size: 24px;
	padding-left: 30px;
	padding-right: 30px;
}

.btn-sm {
	font-size: .875rem;
}

.btn-success.disabled, .btn-success:disabled,
.btn-success {
	background-color: #006c03;
	border: solid #004c02 1px;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle,
.btn-success:not(:disabled):not(.disabled):hover {
	background-color: #015a03;
	border: solid #004202 1px;
}

.btn.disabled, .btn:disabled {
	cursor: not-allowed;
}

.alert p {
	margin-bottom: 0px;
}

.alert-danger {
	color: #ff0018;
}

.table-dark {
	background-color: rgba(0,0,0,.1);
}

.table-dark td, .table-dark th, .table-dark thead th {
	border-color: rgba(255,255,255,.1);
}

.logged-in-form {
	position: relative;
	width: 60%;
	margin: auto;
}

.input-group-append {
	box-shadow: 3px 0px 15px 3px rgba(255,255,255,.2);
}

.manage-tournament h3 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.manage-tournament .tournament-info {
	border-bottom: dotted #6f6f6f 1px;
	padding: 8px 3px;
}

.manage-tournament .tournament-info label {
	display: block;
	font-weight: bold;
	margin-bottom: 0px;
}

a {
	cursor: pointer;
}

.modal-content {
	background-color: #2f2f2f;
	box-shadow: 0px 14px 36px 15px rgba(0,0,0,.35);
	border-radius: 0px;
}

.modal-header {
	border-bottom-color: #545454;
}

.modal-footer {
	border-top-color: #545454;
}


.modal-title {
	font-weight: bold;
	text-transform: uppercase;
}

.close {
	opacity: .75;
	color: white;
	text-shadow: none;
}

.close:focus, .close:hover {
	color: white;
	opacity: 1;
}

.dimmed {
	opacity: .5;
}

.text-linethrough {
	text-decoration: line-through;
}

.payout-line td {
	border-bottom: solid #3d9c40 1px !important;
}

.bg-purple {
	background-color: #6034b1;
	border-color: #6a3bc1;
	color: white;
}

.bg-purple:hover {
	color: white;
	background-color: #552e9c;
}

.bg-green {
	background-color: #006c03;
	border-color: #008304;
	color: white;
}

.bg-green:hover {
	color: white;
	background-color: #015a03;
	border-color: #006c03;
}

.tournament-clock {
	border-bottom: dotted #6f6f6f 1px;
	margin-bottom: 20px;
	padding-bottom: 3px;
}